# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Java
4. Scala
5. C++

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. SciPy
4. Matplotlib.

| Data Science Tools|
| ------------- |
| JupyterLab|
| JupyterLite|
| VS Code|
| Google Colaboratory|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science
- List used libraries used by Data Scientists
- Show arithmetic expressions
- Learn Markdown Language
- Learn Jupyter Notebook Environment

## Author:
Rekha Khandhadia